<!--<h2>itens</h2>
  <table *ngFor="let item of items.items">
    <tr>
      <th>Repositório</th>
      <th>Descrição do Repositório</th>
      <th>Nome do autor</th>
      <th>Foto do autor</th>
      <th>Número de estrelas</th>
      <th>Número de forks</th>
    </tr>

    <tr>
      <th>{{ item.name }}</th>
      <th>{{ item.description }}</th>
      <th>{{ item.owner.login }}</th>
      <th>{{ item.owner.avatar_url }}</th>
      <th>{{ item.stargazers_count }}</th>
      <th>{{ item.forks }}</th>
    </tr>
  </table> -->


  <body>
    <div id="principal">
      <header class="cabecalho">
        <nav>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Projetos</a></li>
          </ul>
        </nav>
        <div class="tituloPrincipal">
          <h1>Melhores repositórios java do github</h1>
          <br>
        </div>
      </header>
      <main class="conteudoPrincipal">
        <section class="cardPrincipal">
          <div class="card">
            <img src="">
            <app-cards></app-cards>
          </div>
        </section>
      </main>
      <footer class="rodape">
       <!-- <p> 2021 Itaú Unibanco Holding S.A. CNPJ: 60.872.504/0001-23</p>-->
      </footer>
    </div>
  </body>
