body {
  font-family: Arial, Helvetica, sans-serif;
  background: gray;
}

header {
  background-color: #ec7000;
  border-top: 1px solid #ec7000;
}

.tituloPrincipal h1 {
  text-align: center;
  text-shadow: 3px 3px 5px red;
  color: white;
}

.tituloPrincipal {
  border-bottom: 1px solid white;
}

main {
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
}

.cardPrincipal {
  background-color: white;
  padding: 15px;
  margin-top: 15px;
}
.conteudoPricipal {
  border: 3px;
}

.cabecalho nav li{
  display: inline-block;
  list-style: none;
  border: 1px solid white;
}

.cabecalho nav a{
  background: rgba($color: #ec7000, $alpha: 0.2);
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: lowercase;
  font-size: 12px;
  letter-spacing: 2px;

}

.cabecalho nav a:hover{
  text-decoration: underline;

}

.cabecalho nav ul{
  text-align: right;
  margin: 10px 50px 0 0;
}
