<ng-template #modalData let-modal>
  <ng-container>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">PullRequests</h4>
    </div>
    <div class="modal-body" *ngFor="let pulls of listPulls">
      <div class="card-modal">
        <div class="topCard">
          <img src="{{ pulls.user.avatar_url }}" class="media-modal" />
          <h2 class="title">
            <a href="{{ pulls.user.html_url }}" target="_blank">{{
              pulls.user.login
            }}</a>
          </h2>
          <p class="secondText-modal-title">
            <a href="{{ pulls.html_url }}" target="_blank">{{ pulls.title }}</a>
          </p>
          <p class="secondText-modal">
            <i>{{ pulls.body }}</i>
          </p>
          <p class="data-modal">{{ pulls.created_at | date: "dd/MM/yyyy" }}</p>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Save click')"
      >
        Fechar
      </button>
    </div>
  </ng-container>
</ng-template>

<body>
  <div class="chamaLista" *ngFor="let item of items.items">
    <div class="content">
      <div class="card">
        <div class="topCard">
          <img src="{{ item.owner.avatar_url }}" class="media-card" />
          <h2 class="title">{{ item.owner.login }}</h2>
          <h5 class="">{{ item.name }}</h5>
          <br /><br />
          <p class="secondText">{{ item.description }}</p>
        </div>
        <div class="bottomCard">
          <div class="actionsCard">
            <span class="estrela">
              <b> {{ item.stargazers_count }}</b></span
            >
            <span class="forks">
              <b> {{ item.forks }}</b></span
            >
            <button
              (click)="abrirModal(modalData, item.url)"
              data-toggle="modal"
              data-target=".modal"
              id="pull"
              class="btn btn-outline-dark"
            >
              <b> {{ pulls_url }} Pull Request</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
