<ng-template #modalData let-modal>
  <ng-container >
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">PullRequests</h4>
    </div>
    <div class="modal-body" *ngFor="let pulls of pullzs">
      <p><strong>Subtitulo</strong></p>
      <table>
        <tr>
          <th>{{ pulls.url }}</th>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-danger"
        (click)="modal.close('Save click')"
      >
        Fechar
      </button>
    </div>
  </ng-container>
</ng-template>

<body>
  <div class="chamaLista" *ngFor="let item of items.items">
    <div class="content">
      <div class="card">
        <div class="topCard">
          <img src="{{ item.owner.avatar_url }}" class="media-card" />
          <h2 class="title">{{ item.owner.login }}</h2>
          <h5 class="">{{ item.name }}</h5>

          <h5 class="">{{ item.id }}</h5>
          <br /><br />
          <p class="secondText">{{ item.description }}</p>
        </div>
        <div class="bottomCard">
          <div class="actionsCard">
            <span class="estrela">
              <b> {{ item.stargazers_count }}</b></span
            >
            <span class="forks">
              <b> {{ item.forks }}</b></span
            >
            <button
              (click)="abrirModal(modalData, item.url)"
              data-toggle="modal"
              data-target=".modal"
              id="pull"
              class="btn btn-outline-dark"
            >
              <b> {{ pulls_url }} Pull Request</b>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
